body
{
	font-family: Andale Mono, monospace;
	background-color: #464B45;
}
.Inicio2
{
	font-size: 25px;
	position: absolute;
	top: 10px;
	right: 550px;
	color: #6BBF5B;
}
.Salida
{
	position: absolute;
	top: 500px;
	left: 30px;
	width: 200px;
	height: 50px;
	background-color:#6BBF5B;
	border-radius: 10px;
	border:5px solid black;
	padding: 10px 5px 5px 5px;
}
.Enlace
{
	font-size: 20px;
	color: black;
	text-decoration: none;
}
.Salida:hover
{
	border:5px solid white;
}
.Enlace:hover
{
	color: white;
}
.T1
{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.T1:hover
{
	color: white;
}
.t1:hover
{
	border:5px solid white;
}
.t1
{
	position: absolute;
	top: 300px;
	left: 300px;
	border-radius: 10px;
	background-color:  #6BBF5B;
	border: 5px solid black;
	padding: 10px 5px 5px 5px;
	width: 150px;
}

.repro
{
	position: absolute;
	top: 300px;
	left: 500px;
	border-radius: 10px;
	background-color:  #6BBF5B;
	border: 5px solid black;
	padding: 10px 5px 5px 5px;
	width: 150px;
}
.repro:hover
{
	border:5px solid white;
}
.disc
{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.disc:hover
{
	color:white;
}
.t2
{
	position: absolute;
	top: 300px;
	left: 700px;
	border-radius: 10px;
	background-color:  #6BBF5B;
	border: 5px solid black;
	padding: 10px 5px 5px 5px;
	width: 150px;
}
.t2:hover
{
	border:5px solid white;
}
.T2
{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.T2:hover
{
	color: white;
}
.t3
{
	position: absolute;
	top: 300px;
	left: 900px;
	border-radius: 10px;
	background-color:  #6BBF5B;
	border: 5px solid black;
	padding: 10px 5px 5px 5px;
	width: 150px;
}
.t3:hover
{
	border:5px solid white;
}
.T3
{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.T3:hover
{
	color: white;
}
.t4
{
	position: absolute;
	top: 500px;
	left: 500px;
	border-radius: 10px;
	background-color:  #6BBF5B;
	border: 5px solid black;
	padding: 10px 5px 5px 5px;
	width: 150px;
}
.t4:hover
{
	border:5px solid white;
}
.T4
{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.T4:hover
{
	color: white;
}