body
{
	font-family: Andale Mono, monospace;
	background-color: #464B45;
}
.Inicio2
{
	font-size: 25px;
	position: absolute;
	top: 10px;
	right: 550px;
	color: #6BBF5B;
}
.delta
{
	position: absolute;
	top: 500px;
	left: 300px;
	border-radius: 10px;
	background-color:  #6BBF5B;
	border: 5px solid black;
	padding: 10px 5px 5px 5px;
	width: 150px;
}
.delta:hover
{
	border:5px solid white;
}
.enlace
{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.enlace:hover
{
	color: white
}
.alpha
{
	position: absolute;
	top: 500px;
	left: 500px;
	border-radius: 10px;
	background-color:  #6BBF5B;
	border: 5px solid black;
	padding: 10px 5px 5px 5px;
	width: 150px;
}
.alpha:hover
{
	border:5px solid white;
}
.enlace1
{
	font-size: 20px;
	text-decoration: none;
	color: black;
}
.enlace1:hover
{
	color: white
}